@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Satoshi', sans-serif;

  /* Light */
  --color-base: oklch(96.8% 0.007 247.896);
  --color-soft: oklch(98.4% 0.003 247.858);
  --color-strong: oklch(92.9% 0.013 255.508);

  /* Dark */
  --color-dark-base: oklch(20.8% 0.042 265.755);
  --color-dark-soft: oklch(27.9% 0.041 260.031);
  --color-dark-strong: oklch(12.9% 0.042 264.695);
}
