@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Satoshi', sans-serif;

  /* Light */
  --color-base: oklch(98.2% 0.007 247.896);
  --color-soft: oklch(99.5% 0.003 247.858);
  --color-strong: oklch(97.8% 0.011 247.896);
  --color-mute: oklch(94.8% 0.015 247.896);

  /* Dark */
  --color-dark-base: oklch(20.8% 0.042 265.755);
  --color-dark-soft: oklch(24.5% 0.041 260.031);
  --color-dark-strong: oklch(17.7% 0.042 264.695);
  --color-dark-mute: oklch(32.0% 0.041 260.031);

  /* Shadow */
  --shadow-s:
    inset 0 1px 2px #ffffff30,
    0 1px 2px #00000030,
    0 2px 4px #00000015;

  --shadow-m:
    inset 0 1px 2px #ffffff50,
    0 2px 4px #00000030,
    0 4px 8px #00000015;

  --shadow-l:
    inset 0 1px 2px #ffffff70,
    0 4px 6px #00000030,
    0 6px 10px #00000015;

  /* Radial background */
  --background-dark-image-glow: radial-gradient(
    ellipse 100% 60% at 50% 130%,
    rgba(56, 189, 248, 0.20),
    rgba(255, 255, 255, 0)
  );

  --background-image-glow: radial-gradient(
    ellipse 100% 60% at 50% 130%,
    rgba(56, 189, 248, 0.25),
    rgba(255, 255, 255, 0)
  );
}

@utility bg-dark-radial {
  background-color: var(--color-dark-base);
  background-image: var(--background-dark-image-glow);
  background-repeat: no-repeat;
}

@utility bg-light-radial {
  background-color: var(--color-base);
  background-image: var(--background-image-glow);
  background-repeat: no-repeat;
}
